@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    /*height: 100%;*/
    margin: 0;
    padding: 0;
        
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    padding:0;
    /*min-height: 100%;*/
    }

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
         
}


button{
    background-color: #3882f6;
    color: #f9faf8 ;
    border-radius: 10%;
    width: 100px;
    height: 30px;
    font-weight: 600;
    border-color:  #3882f6 ;
}
#button2{
    border:  #f9faf8 solid 1px;
    align-self: flex-end;
}
h2{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}
.header{
    font-size: 18px;
    padding: 20px;
    flex:1;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px 70px ;
    
}
.hero{
    font-size: 18px;
    color: #e5e7eb;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    flex: 9;
}
.content1{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;  
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 50px 70px;
    gap: 10px;    
}
.subcontent1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}
#image1{
    flex:1;
    background-color: gray;
    }


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    font-size: 12px;
    
}

.content2{
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    gap:10px;
    align-items: center;
    gap: 20px;
    
}
#fat-div2{
    font-size: 36px;
    font-weight: 700;
}
.container2-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 30px;
}
.container-image{
    border: #3882f6 solid 1px;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    
}
.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
   }
.subcontent2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    
}
.content3{
    display: flex;
    flex-direction: column;
    padding: 45px 60px;
    background-color: #e5e7eb ;
    font-size: 36px;
    font-style: italic;
    font-weight:100;
    gap: 10px;
}
.subscription3{
    align-self: flex-end;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
}
    
.content4{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.logo{
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}


.subform4{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
#fat-div{
    font-weight: 700;
    font-size: 20px;
    
}
.form{
    display: flex;
    gap: 50px;
    background-color: #3882f6;
    border-radius: 7%;
    margin: 50px 100px;
    color: #e5e7eb;
    padding: 50px 40px;
       
}

